@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: "Arsenal SC", sans-serif;
  font-style: normal;
  /* overflow-x: hidden; */
}

/* 
.navbar {
    background-color: transparent !important;
    padding: 20px;
    z-index: 1000;
}


.nav-link,
.nav-link.active {
    color: black !important;
    align-items: end !important;
    display: flex;
}

.navbar-nav .nav-link:hover {
    color: red !important;
}

.navbar-nav.ml-auto {
    display: flex;
    justify-content: end !important;
}

#navbarNav {
    justify-items: flex-end;
}

.navbar-toggler {
    color: white;
    background-color: white;
} */


.desktop-nav {
  background-color: transparent;
  z-index: 1000;
  padding: 20px;

}

.nav-link {
  font-weight: 700;
}

.navbar-toggler {
  color: white !important;

}


.nav-item .homeNav-color {
  color: #fff !important;
}

.scroll-nav {
  background-color: #005395 !important;
  padding: 10px !important;
  color: #fff;
  position: sticky;
  top: 0;
}

.scroll-nav .nav-link {
  color: #fff !important;
}

.scroll-nav .logo {
  width: 100px !important;
}

/* ----------------mobile-nav------------------------------- */

.mobile-nav {
  display: none;
}

@media (max-width:990px) {

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    background-color: transparent;
    z-index: 1000;
    padding: 10px;

  }

  .mobile-nav .icons {
    font-size: larger;
    font-weight: bolder;
  }

  .mobile-nav .nav-item {
    font-size: larger;
  }

  /* .mobile-nav .nav-link{
    color: black !important;
  } */

  .mobile-nav .navbar-collapse .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 0 !important;
  }

  .mobile-nav .nav-item {
    padding: 0 20px;
    font-weight: 500;

  }

  .mobile-nav .navbar-toggler {
    border: none;
  }
}

@media (max-width:790px) {
  .mobile-logo {
    margin-left: -20px;
    /* border: 1px solid red; */
  }

  .mobile-logo img {
    width: 150px !important;
  }
}


/* navbar end-------------------------------------------- */

/* Banner-image start-------------------------------------- */

.banner {
  position: relative;
}

.banner-content {
  padding: 0 0 0 80px;
}

.landing-text {
  position: absolute;
  top: 250px;
  color: white;
  text-align: center;

}

.landing-text h1 {
  font-weight: 700;
  font-size: 50px;
}

.landing-text p {

  font-weight: 500;
  justify-self: right;

}

.landing-text button {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  border: none;

}

.banner-img img {
  height: 100%;
  width: 100%;
  padding: 0;
}

.landing {
  margin-top: -128px !important;
  /* z-index: -700; */
}

@media (max-width:990px) {
  .landing {
    margin-top: 0 !important;
  }
}

/*------------------------------- Banner-image-end-------------------------------------- */

/*---------------------------------- form start------------------------------------ */

.booking-form-sec {
  margin-top: -100px;
  position: relative;
}


.search-call {
  color: white;
}



/* 
.book button {
    background-color: red !important;
    border: #005395;
    border-radius: 5px;
    color: #005395;
    font-weight: bolder;
    padding: 5px;
}

.book button:hover {
    background-color: wheat !important;
} */

/* ----------------------------------------------------- */

.form-left,
.form-right {
  padding: 20px;
  align-content: center;
  box-shadow: 7px 7px whitesmoke;

}

.form-left h3 {
  font-weight: 700;
  text-align: start !important;
  padding: 10px;

}

.callDetails {
  text-align: start;
  font-weight: 400;
  margin-top: 20px;

}

.callDetails h2 {
  font-weight: 700;
  text-align: start !important;
}

.triptype label {
  font-weight: 700;
  margin-top: 20px;
}

.search-cab button {
  font-weight: 700;
  padding: 5px 30px;
  background-color: #005395d0;
  color: white;
  border-radius: 5px;
  border: none;
}

.search-cab button:hover {
  background-color: white !important;
  color: #005395d0 !important;
  border: 1px solid #005395d0;
}

.from-input input {
  margin: 10px 10px 0 0;

}
.input-field{
  margin: 10px 10px 0 0;

}

.from-input {

  color: black !important;
}

.booking-form label {
  color: black;
}

.input-field {
  width: 95% !important;
  margin-top: 5px;
  border: none;
  /* border: 0 0 2px 0 solid black; */
  border-bottom: 2px solid black;
}

.visiting-pl-add,
.visiting-pl-delete {
  border: none;
  background-color: #005395d0;
  color: white;
  border-radius: 20px;
  padding: 0px 9px;
  font-size: 18px;
  font-weight: 700;
  margin: 5px;
}

.visiting-pl-delete {
  font-weight: 400 !important;
  font-size: 18px;
}

/*---------------------------------- form end------------------------------------ */


/*------------------------------------ home banner-------------------------- */
.home-banner {
  margin-top: 50px;
  /* padding-left: 10px; */
}

.home-banner h2 {
  font-weight: 700;
  font-size: 35px;
}

.home-banner p {
  font-weight: 400;
}

.home-banner-text {
  color: #005395 !important;
  font-weight: 700;
  margin-top: 5px;
}

.home-banner h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;

}

.home-banner-img {
  width: auto;
  margin-top: -20px;
}

.home-banner-img img {
  height: 100%;
  width: 100%;
}

.home-banner1-icons .card{
  padding: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 5px white
  0px 5px 3px white;
  gap: 20px;
}

.card-body h5{
  font-size: 25px;
  font-weight: bold;
}
/* -----------------------------------home -banner----------------------------------- */


/*--------------------------------------- whoweare ------------------------------------------------ */
.whoweare {
  background-color: #005395;
  color: white;
}

.whoweare h5 {
  font-weight: 700;
}

.whoweare h3 {
  font-weight: 700;
  font-size: 40px;
}

.whoweare p {
  font-weight: 400;
  text-align: justify;
}

/* -----------------full banner image---------------------------- */

.fullbanner-sec {
  position: relative;
  height: 100vh;
}

.fullbanner {
  height: 100%;
  width: 100%;
  /* padding: 0;
    margin: 0; */
}

.fullbanner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;


}

.banner-text-inner {
  width: 80%;
}

.banner-text h1 {
  font-weight: 700;
}

.banner-text p {
  font-weight: 400;
  justify-self: right;

}

.banner-text button {
  border-radius: 5px;
  border: 1px solid #005395d0;
  background-color: white;
  color: #005395d0;
  padding: 5px 30px;
  font-weight: 700;
  font-size: 18px;



}

.banner-text button:hover {
  background-color: #005395;
  color: white;
}

/* flat icons-------------------------- */

.flat-icons {
  display: flex;
  justify-content: center;
}

/* ---------------avail car page---------------------- */

.avail-cars h2 {
  background-color: #005395d0;
  padding: 10px 20px;
  width: fit-content;
  font-weight: 700;
  font-size: 15px;
  color: white;
  border-radius: 10px;

}

.avail-cars {
  padding: 30px 0;
}

.cabs {
  height: 510px;
  /* border: 1px solid red; */
  padding: 20px;
}
.cab-inner{
  height: 100%;
  border-radius: 20px;
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 1px 1px 7px gray;
}

.cab-img {
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #f3f2f2;
}

.cab-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* overflow: hidden; */
}
.select-button{
  font-weight: 700;
  padding: 5px 30px;
  background-color: #005395d0;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: -20px;
}

.select-button:hover{
  background-color: white !important;
  color: #005395d0 !important;
  border: 1px solid #005395d0;
}



.car-name-details h3{
  font-weight: 700;
}

.cab-fare{
  font-weight: 700;
 text-align: right;
 padding-right: 25px;
}
.cab-fees{
  padding: 0;
  font-size: 12px;
  border-bottom: 2px solid black;
  width: fit-content;
}
.dotted-line{
  border-bottom: 2px  dashed black;
}
.extra-fea{
  background-color: whitesmoke;
  width: fit-content;
  padding: 0 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
}


/*  ---------------avail cars page---------------------- */

/* -----------------selected cab----------------------------- */

.form-details{
  border-radius: 5px;
  padding: 20px 0;
}
.form-details h4{
  font-weight: 700;
}
.form-details h4 .bi-arrow-left-right{
  font-size: 60px;
}
.selected-cab{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.selected-cab-img{
  height: 300px;
  /* width: 300px; */
  padding: 0;
  /* border: 1px solid red; */
}
.selected-cab-img img{
  height: 100%;
  width: 100% !important;
  object-fit: contain;
  object-position: center;
}
.address-details{
  /* border: 1px solid red; */
  margin: 0 0 0 20px;
}
.traveller-details form{
  background-color: #a4a4e7;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px !important;
  /* text-align: center; */
}
.traveller-details label{
 font-size: 18px;
 font-weight: 400;
 margin-top: 20px;
 color: white;
}
.traveller-details input{
  border: none;
  border-bottom: 1px solid white ;
  color: white;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
}
.traveller-details button{
  margin-top: 20px;
  border: none;
  /* border: 1px solid black; */
  background-color: white;
  color: black;
  padding: 5px 30px;
  border-radius: 5px;
  font-weight: 700;

}





/* Admin table start-------------------------------------- */

.table-add {
  display: flex;
  justify-content: flex-end;
}

.table-add button {
  background-color: #005395;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.update,
.delete {
  background-color: #005395;
  color: white;
}

.car-details {
  display: flex;
  justify-content: flex-start;
  row-gap: 10px;
  /* border: 3px solid red; */
}

.car-detail {
  /* border: 2px solid blue; */
  padding: 20px;
  background-color: #005395;
  color: white;
}

/* create table --------------------------------------- */

.create {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.create-table {
  text-align: center;
  align-items: center;
  border: 2px solid #005395;
  background-color: #005395;
  color: white;
  width: 800px;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding-right: 60px;


}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  padding-left: 50px;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
}

.container.create {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.create-submit {
  padding: 0.75rem 1.5rem;
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.create-submit:hover {
  background-color: white;
  color: black;
}


/* -------------footer-start--------------- */
footer {
  background-color: #005395;
  color: white;
}

.footer-content-col {
  /* border: 1px solid red; */
  overflow: hidden;
  margin-bottom: 20px;
}

.footer-logo {
  width: 130px;

}

.footer-content ul {
  padding: 0;
  margin-top: 20px;
}

.footer-content li {
  list-style-type: none;
  padding: 0 10px;
}

.footer-icons i {
  font-size: 25px;
  padding: 15px 15px 15px 0;
}





@media (max-width:1400px) {
  .landing-text {
    position: absolute;
    top: 200px;
  }


}

@media (max-width:1300px) {
  .landing-text {
    position: absolute;
    top: 150px;
  }

  .landing-text h1 {
    font-size: 40px;
  }

  .landing-text button {
    font-size: 16px;
  }

  .booking-form-sec {
    margin-top: 50px;
    position: relative;
  }
}

@media (max-width:1050px) {
  .landing-text {
    position: absolute;
    top: 120px;
  }

  .landing-text h1 {
    font-size: 30px;
  }
}

@media (max-width:900px) {
  .banner-content {
    padding: 0 0 0 10px;
  }

  .landing-text {
    position: absolute;
    top: 100px;
  }

}

@media (max-width:800px) {
  .landing-text {
    position: absolute;
    top: 80px;

  }

  .landing-text h1 {
    font-size: 25px;
  }

  .landing-text button {
    padding: 3px 20px;
  }

  .banner-content {
    padding: 0 30px 30px 30px;
  }

}

@media (max-width:700px) {
  .landing-text {
    position: absolute;
    top: 80px;

  }

  .landing-text h1 {
    font-size: 20px;
  }

  .landing-text button {
    padding: 3px 20px;
  }

  .banner-content {
    padding: 0 30px 0 30px;
  }
}

@media (max-width:680px) {
  .landing-text {
    position: absolute;
    top: 70px;


  }

  .landing-text h1 {
    font-size: 20px;
  }

  .landing-text button {
    padding: 3px 20px;
    margin-bottom: 5px !important;
  }

  .landing-text p {
    margin-bottom: 5px !important;
  }

  .banner-content {
    padding: 0 0px 20px 20px;
  }

}

@media (max-width:570px) {
  .landing-text {
    position: absolute;
    top: 60px;

  }

  .banner-content {
    padding: 0 50px 0 0px;
  }

  .landing-text p {
    font-size: 12px;
  }

}

@media (max-width:530px) {
  .landing-text {
    position: absolute;
    top: 50px;

  }

  .banner-content {
    padding: 0 40px 0 0px;
  }

  .landing-text h1 {
    font-size: 18px;
  }

  .landing-text p {
    font-size: 12px;
  }

  .landing-text button {
    padding: 3px 20px;
    font-size: 12px;
  }

}

@media (max-width:460px) {
  .landing-text {
    position: absolute;
    top: 40px;

  }

  .banner-content {
    padding: 0 30px 0 0px;
  }

  .landing-text h1 {
    font-size: 18px;
  }

  .landing-text p {
    font-size: 10px;
  }

  .landing-text button {
    padding: 3px 20px;
    font-size: 12px;
  }

}

@media (max-width:420px) {
  .landing-text {
    position: absolute;
    top: 40px;

  }

  .banner-content {
    padding: 0 25px 0 0px;
  }

  .landing-text h1 {
    font-size: 18px;
  }

  .landing-text p {
    font-size: 10px;
    margin-bottom: 5px !important;
  }

  .landing-text button {
    padding: 3px 20px;
    font-size: 10px;
  }
}

  
/* about page start------------------------------ */
.about-head h5{
  font-size: 25px ;
  margin-right: 20px;
}

.about-row p{
  font-size: 20px;
}

.about-head h5, .about-head h3{
  float: right;
 
}
.about-head h3{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  color: #005395 ;

}
.about-row{
  display: flex;
}

.about .about-img {
  height: 250px !important;
  box-shadow: 5px 5px whitesmoke;
  padding: 15px;  

}

.about-img img{
  height: 100%;
  width: 100%;
}

.about-point li{
  list-style-type: none;
  line-height: 2;
  font-size: 20px;
  font-style: normal;


}

.about-service button{
  background-color: #005395;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.about-service p{
  font-size: 23px;
}

.about-service button:hover{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  color:black;
  
}

.about-service h3{
  font-size: 45px;
  color: #005395;
  font-weight: bold;
}
.about-ser{
  /* border: 2px solid black; */
  margin-top: 60px;
  margin-bottom: 30px;
}



.about-img{
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
}

.about-img img{
  object-fit: contain;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.about-text{
  text-align: center;
  justify-content: center;
  position: absolute;
  margin-top: -300px;
  justify-content: center;
  color: white;
  font-weight: 900;
  font-style: normal;
  font-size: xx-large;
  margin-left: 500px;
}

.about-banner-content{
  margin-top: -150px !important;
  justify-content:center;
}

.about-banner-content i{
  border: 2px solid red;
  padding: 5px;
  font-size: 20px;
  background-color: red;
}

.about-banner-para {
  display: flex;
  justify-content: space-evenly;
  row-gap: 20px;
}

.about-banner-para p{
  font-size: 18px;
}
/* login start----------------------------------- */


.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.login-right {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-phone-image {
  max-width: 80%;
  height: auto;
}

.login-header {
  text-align: center;
}

.login-user-icon {
  width: 50px;
  height: 50px;
}

.login-header h2 {
  color: #005395;
  margin-top: 10px;
}

.login-form {
  margin-top: 30px;
}

.login-input {
  margin-bottom: 20px;
}

.login-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-options {
  display: flex;
  justify-content: space-between;
}

.login-forgot-password {
  color: #005395;
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #005395;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-signin {
  margin-top: 20px;
  text-align: center;
}

.login-signin span {
  color: #005395;
  cursor: pointer;
  text-decoration: underline;
}

.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.login-popup-close {
  position: absolute;
  background-color: #005395;
  border: 2px solid #005395;
  right: 10px;
  cursor: pointer;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}


/* register page--------------------------------------- */


.register-container {
  display: flex;
  width: 600px !important;
  align-items: center;
  justify-content: center;
}

.register-left {
  flex: 1;
  background-color: #005395;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.register-right {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-phone-image {
  max-width: 80%;
  height: auto;
}

.register-header {
  text-align: center;
}

.register-user-icon {
  width: 50px;
  height: 50px;
}

.register-header h2 {
  color: #005395;
  margin-top: 10px;
}

.register-form {
  margin-top: 30px;
}

.register-input {
  margin-bottom: 20px;
}

.register-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #005395;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-login {
  margin-top: 20px;
  text-align: center;
}

.register-login span {
  color: #005395;
  cursor: pointer;
  text-decoration: underline;
}

.terms-head{
  text-align: center;
 width: 90%;
 margin: auto;
}

.terms-head h1{
  font-weight: 700;
}

.italic{
  font-style: italic;
  color: gray;
}

.terms-content-inner{
  margin-top:70px !important ;
}

.terms-content-inner li a{
  /* color: black; */
  text-decoration: none;
  font-size: 15px;
}
/* -------------------------------services---------------------------------- */

.service-item{
  /* border: 1px solid red; */
 
  /* padding: 20px; */
}

.service-item-inner{
  /* border: 1px solid black; */
  /* background-color: white; */
  background-color: white;
  padding: 15px;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 7px rgb(209, 208, 208);

 

}
.item{
  background-color: whitesmoke;
  padding: 10px;
}