body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:#2E236C !important;
    padding: 20px;
    position: sticky;
}

.nav-link, .nav-link.active {
    color: white !important;    
    align-items: end !important;
    display: flex;
}

.navbar-nav .nav-link:hover {
    color: red !important;
  }
  
.navbar-nav.ml-auto {
    display: flex;
    justify-content: end !important;
  }

#navbarNav{
    justify-items: flex-end;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

/* navbar end-------------------------------------------- */

/* Banner-image start-------------------------------------- */
.banner-img{
    margin: 0;
    height: 80vh;
    padding:0;
}
.banner-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding:0;
}